---
import { getCollection } from "astro:content";
import { getAlbumImages } from "../../utils/albums";
import { ViewTransitions } from "astro:transitions";
//import { Markdown } from '@astropub/md'
import RothouseImage from "../../components/RothouseImage.astro";
import Standard from "../../layouts/Standard.astro";
import '../../styles/ImageCaption.css'

export async function getStaticPaths() {
  const albums = await getCollection("albums");

  const paths = Object.values(albums).map((album) => {
    return {
      params: {
        id: album.id,
      },
      props: {
        album,
      },
    };
  });

  return paths;
}

const { album } = Astro.props;
const images = await getAlbumImages(album.id);
---
<Standard title={`${album.data.title}'s Gallery`}>
  <ViewTransitions slot="head" />
  <Fragment slot="body">
    <div class="text-center my-16 mb-32">
      <h1 class="text-3xl xl:text-6xl font-bold">
        {album.data.title}
      </h1>
      <p class="text-lg xl:text-2xl my-4">
        {album.data.description}
      </p>

      <p class="text-lg xl:text-2xl my-4">
        {album.data.markdown}
      </p>

      <div
        class="mx-auto container my-8 sm:columns-2 md:columns-3 lg:columns-4 xl:columns-5"
        id="gallery"
      >
        {
          images.map((image) => (
            <RothouseImage image={image} album={album} />
          ))
        }
      </div>

      <p class="text-lg my-4 text-center">
        <a href="/" class="text-white hover:underline">Go back →</a>
      </p>
    </div>
    <script>
      import "photoswipe/style.css";
      import pswpModule from "photoswipe";
      import PhotoSwipeLightbox from "photoswipe/lightbox";
      import PhotoSwipeDynamicCaption from 'photoswipe-dynamic-caption-plugin';

      const lightbox = new PhotoSwipeLightbox({
        pswpModule,
        childSelector: '.pswp-gallery__item',
        children: "a",
        gallery: "#gallery",
      });

      const captionPlugin = new PhotoSwipeDynamicCaption(lightbox, {
        type: 'below',
      });

      document.addEventListener(
        "astro:page-load",
        () => {
          if (lightbox) lightbox.init();
        },
        { once: false }
      );
    </script>
  </Fragment>
</Standard>